@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

:root {
  --zaffre: #4d13d1;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h2 {
  font-size: 2rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* utilities */
.container {
  width: min(90vw, 1024px);
  margin: auto;
}

.primary-bg {
  background: var(--zaffre);
  color: white !important;
}

.creamy-bg {
  background: #fbf8f3;
}

.bluish-txt {
  color: var(--zaffre);
}

.grayish-txt {
  color: #7f7f7f;
}

.bold-txt {
  font-weight: 700;
}

.txt-center {
  text-align: center;
}

.br-5 {
  border-radius: 3px;
}

body {
  margin: 0;
  line-height: 1.4;
  overflow-x: scroll;
}

header nav {
  padding: 1rem 0;
}

header nav .container,
.main-links,
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.main-links {
  width: 65%;
}

.main-links a {
  color: black;
}

.main-links a.primary-bg {
  padding: 10px;
}

.hamburger-icon {
  display: none;
}

/* hero */
.hero {
  display: flex;
  align-items: center;
  padding-bottom: 4rem;
}

.hero > div {
  flex-basis: 100%;
}

.hero .ratings {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero .star-ratings img {
  width: 14px;
}

.hero h1 {
  font-size: 3rem;
}

.hero-links a.primary-bg {
  padding: 12px 10px;
  margin-right: 10px;
}

.hero-links a.example-link {
  text-decoration: 2px solid var(--zaffre) underline !important;
}

.hero-features {
  display: flex;
  gap: 14px;
}

.hero-features img {
  vertical-align: middle;
}

.hero-img-container img,
.img-container img {
  width: 100%;
}

/* features */
.features {
  padding: 2.5rem 0;
}

.features h2 {
  margin-bottom: 2rem;
}

.feature-cards {
  display: flex;
  gap: 1.5rem;
}

.feature-cards img {
  margin-bottom: 8px;
}

.trial {
  display: flex;
  align-items: center;
  padding: 2rem 2rem 0 2rem;
  gap: 1rem;
}

.trial .text {
  flex-basis: 70%;
}

.trial .text a {
  padding: 12px 10px;
  background: white;
  color: var(--zaffre);
}

.trial .img-container {
  flex-basis: 100%;
}

.trial .img-container img {
  transform: translateY(6px);
}

/* testimonials */
.testimonials {
  padding: 3rem 0;
}

.testimonials {
  overflow-x: scroll;
  display: flex;
  gap: 1.5rem;
}

.testimonial-card {
  border: 1px solid #cccccc;
  padding: 1rem;
  min-width: 350px;
}

.testimonial-card .profile-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-info img {
  width: 3rem;
}

.profile-info p {
  margin: 0;
}

.testimonial-card a {
  text-align: center;
  border: 1px solid #cccccc;
  width: 100%;
  padding: 12px 10px;
}

footer .container {
  display: grid;
  grid-template-columns: 3fr repeat(4, 1fr);
  gap: 2.5rem;
  padding: 3rem 0;
}

footer  a, footer p {
  color: #7f7f7f;
}


footer article li:not(:last-child) {
  margin-bottom: 10px;
}

.form-page {
  background: linear-gradient(to right, white 50%, var(--zaffre) 50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 8rem;
  padding: 2rem 0;
}

.form-page h2 {
  margin: 1.2rem 0;
}

.right {
  color: white;
}

.form-control {
  margin-bottom: 1.5rem;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control a {
  text-decoration: 2px solid var(--zaffre) underline !important;
}

button[type="submit"] {
  border: none;
  padding: 12px;
  width: 100%;
}

 .left input:not(.left input[type="checkbox"]) {
   padding: 12px;
   width: 100%;
   border: 1.2px solid #cccccc;
   border-radius: 3px;
 }
 
 
 .pwd-container {
   position: relative;
 }
 
 .pwd-container img {
   position: absolute;
   right: 10px;
   top: 8px;
 }
 
 /* Customize the label (the container) */
.label-container {
  position: relative;
  padding-left: 25px;
cursor:pointer;
-webkit-user-select:none;
-webkit-tap-highlight-color: transparent;
}

 /* Hide the browser's default checkbox */
.label-container input{
 display: none;
}

/* Create a custom checkbox */
.checkmark {
 position: absolute;
 top: 0;
 left: 0;
 height:18px;
 width:18px;
 border: 1.5px solid #ccc;
 border-radius: 3px;
 display: inline-grid;
 place-items: center;
}

/* When the checkbox is checked, add a blue background */
.label-container input:checked ~ .checkmark{
 background-color:var(--zaffre);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after{
 content:"";
 width:3px;
height:7px;
border:solid white;
border-width:0 2.5px 2.5px 0;
transform: rotate(45deg) translateY(-1px);
 display:none;
}

/* Show the checkmark when checked */
.label-container input:checked ~ .checkmark:after{
 display: inline-block;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16/11;
  border-radius: 5px 5px 0 0;
}

.carousel-container img {
  scroll-snap-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.5s;
}

.dots {
  text-align: center;
}

.dot {
  height: 10px;
  width: 10px;
  background: rgb(255,255,255, .5);
  display: inline-block;
  border-radius: 50%;
  margin: 0 2px;
  transition: background 0.5s ease;
}

.active-dot {
  background: white;
}


@media (max-width: 480px) {
  header nav {
  position: relative;
  }

  .main-links,
  .nav-links {
    flex-direction: column;
    margin: 0;
  }

  .main-links {
    opacity: 0;
    pointer-events: none;
    padding: 2rem 1rem;
    position: absolute;
    background: var(--zaffre);
    top: 100%;
    gap: 2.5rem;
    transition: opacity 0.2s ease;
  }

  .main-links.active {
    opacity: 1;
    pointer-events: auto;
  }

  .nav-links {
    gap: 1.5rem;
  }

  .main-links a {
    color: white;
  }

  .main-links a.primary-bg {
    background: #222;
  }

  nav .hamburger-icon {
    display: block;
    cursor: pointer;
  }

  .hero,
  .hero-features,
  .feature-cards,
  .testimonials {
    flex-direction: column;
  }

  .hero .intro-txt {
    order: 2;
  }
  

  .hero-links a {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }

  .hero-features p {
    margin: 0;
  }

  .trial {
    flex-direction: column;
  }

  .trial .img-container img {
    aspect-ratio: 1/1.3;
    object-fit: cover;
  }
  
  .testimonial-card {
    min-width: 100%;
  }
  
  footer .container {
    grid-template-columns: 1fr;
  }
  
  .form-page {
    grid-template-columns: 1fr;
    background-image: none;
  }
  
  .right {
    display: none;
  }
  }
}
